@use "./variables";
@use "./fonts";
@use "./admin";

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s;
}

body {
  background: var(--background);
  font-family: Inter, sans-serif;
}

#admin {
  position: relative;
}