@use "@gl-admin/assets/styles/variables";

@mixin skeleton-bg {
  animation: skeleton-loading 1.2s infinite linear alternate;
  background: variables.$skeleton-background;
  background-repeat: no-repeat;
  background-size: 200% 100%;
}

@keyframes skeleton-loading {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 100% 0;
  }
}