@use "@gl-admin/assets/styles/variables";

.gl-listing {
    &__heading {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3.38rem;

        h1 {
            color: variables.$text-primary;
            font-size: 1.875rem;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            margin-left: 1rem;
        }
    }

    &__actions {
        align-items: center;
        display: flex;
        gap: 2.38rem;
    }

    .gl-clear-filters {
        color: variables.$text-secondary;
        cursor: pointer;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 145%;
        user-select: none;

        &:hover {
            text-decoration: underline;
        }
    }
}