@use "@gl-admin/assets/styles/variables";

.button {
  align-items: center;
  background: variables.$button-background-default;
  border: none;
  border-radius: variables.$button-border-radius;
  box-shadow: variables.$button-box-shadow;
  color: variables.$button-color-default;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: variables.$text-size-body;
  font-weight: 600;
  gap: 0.625rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all variables.$transition-duration ease;
  white-space: nowrap;
}

.active {
  filter: brightness(1.05);
  opacity: 1;
}

.inactive {
  opacity: 0.6;
  pointer-events: none;
}

/* Variations */

.primary {
  background: variables.$button-background-primary;
}

.secondary {
  background: variables.$button-background-secondary;
}

.danger {
  background: variables.$button-background-danger;
}

.flat {
  background: variables.$button-background-flat;
  color: variables.$button-color-flat;
}
