@use "@gl-admin/assets/styles/variables";
@use "@gl-admin/assets/styles/mixins";

.gl-filter-select {
    color: variables.$text-secondary;
    font-size: variables.$text-size-body;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    position: relative;
    user-select: none;

    &__control {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: 0.5rem;
    }

    &__options {
        background: variables.$background;
        border: 1px solid variables.$border-color;
        border-radius: 0 0 4px 4px;
        box-shadow: variables.$sidebar-popup-box-shadow;
        height: fit-content;
        margin-top: 2px;
        margin-top: .5rem;
        max-height: 200px;
        max-width: 400%;
        min-width: 7rem;
        overflow: hidden;
        overflow-y: auto;
        position: absolute;
        right: 0;
        z-index: 10;
    }

    &__option {
        cursor: pointer;
        padding: 8px;
        transition: background 0.15s;
        white-space: nowrap;

        &:hover {
            background: variables.$sidebar-background-hover;
        }

        &.selected {
            background: variables.$filter-select-option-selected-background;
            color: variables.$filter-select-option-selected-color;
            font-weight: 500;
        }
    }

    &.skeleton {
        border-radius: 0.25rem;
        height: 1.6rem;
        width: 9rem;

        @include mixins.skeleton-bg;
    }
}