@use "@gl-admin/assets/styles/mixins";

.gl-icon {
    align-items: center;
    color: black;
    display: inline-flex;
    justify-content: center;
    transition: .2s;
}

.gl-icon.skeleton {
  border-radius: 0.25rem;

  @include mixins.skeleton-bg;
}