@use "@gl-admin/assets/styles/mixins";

.gl-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color, black);
    transition: .2s;
}

.gl-icon.skeleton {
  border-radius: 0.25rem;
  @include mixins.skeleton-bg;
}