@use "@gl-admin/assets/styles/variables";

.gl-pagination {
  &__navigation {
    button {
      color: var(--text-secondary);
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      height: 2rem;
      line-height: normal;
      width: 2rem;

      &[disabled] {
        color: var(--text-selected);
        cursor: not-allowed;
        font-weight: 600;
      }
    }
  }

  button {
    background: none;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.4rem;

    &.no-icon {
      span {
        opacity: 0;
      }
    }

    &[disabled] {
      cursor: inherit;

      &:hover {
        background: none;
      }
    }

    &:hover {
      background: var(--background-hover);
    }
  }

  &__limit {
    margin-left: auto;
  }

  &__controls {
    align-items: center;
    display: flex;
    gap: 8px;
    margin-top: 0.875rem;
  }
}
