@use "@gl-admin/assets/styles/variables";
@use "@gl-admin/assets/styles/mixins";

.gl-post-status {
    align-items: center;
    background: var(--post-status-background-default);
    background-blend-mode: hard-light, normal;
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow) inset;
    color: var(--text-secondary);
    cursor: default;
    display: flex;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    gap: 0.5rem;
    padding: 0.3rem 0.5rem;
    user-select: none;
    width: fit-content;

    &.published {
        background: var(--post-status-background-published);
        background-blend-mode: hard-light, normal;
    }

    &.private {
        background: var(--post-status-background-private);
        background-blend-mode: hard-light, normal;
    }

    &.draft {
        background: var(--post-status-background-draft);
        background-blend-mode: hard-light, normal;
    }

    &.skeleton {
        box-shadow: none;
        width: 12rem;
    }
}