@use "@gl-admin/assets/styles/variables";

.gl-post-type {
    align-items: center;
    color: var(--text-primary);
    cursor: default;
    display: flex;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    gap: 0.5rem;
    line-height: 145%;
    padding: 0.25rem 0;
    user-select: none;

    svg {
        border: 1px solid var(--border-color);
        border-radius: .25rem;
    }

    &.skeleton {
        box-shadow: none;
        width: 6rem;
    }
}