.gl-post-type {
    display: flex;
    padding: 0.25rem 0;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
    cursor: default;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;

    svg {
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: .25rem;
    }

    &:hover svg {
        border-color: rgba(0, 0, 0, 0.24);
    }

    &.skeleton {
        width: 6rem;
        box-shadow: none;
    }
}