@use "@gl-admin/assets/styles/variables";

.gl-select {
  font-family: inherit;
  position: relative;

  &__label {
    color: variables.$text-secondary;
    display: block;
    font-size: 0.95em;
    margin-bottom: 4px;
  }

  &__placeholder {
    min-width: 1.5rem;
    text-align: center;
  }

  &__selected {
    align-items: center;
    background: variables.$sidebar-popup-background;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: .5rem 1rem .5rem .5rem;
    position: relative;
    user-select: none;

    &:hover {
      background: variables.$background-hover;
    }

    &:focus {
      border-color: variables.$selected-border-color;
      outline: none;
    }

    &--disabled {
      background: variables.$select-disabled-background;
      color: variables.$select-disabled-color;
      cursor: not-allowed;
    }
  }

  &__arrow {
    color: #888888;
    font-size: 0.8em;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__options {
    background: variables.$sidebar-popup-background;
    border: 1px solid variables.$border-color;
    border-radius: 0 0 4px 4px;
    box-shadow: variables.$select-box-shadow;
    height: fit-content;
    left: 0;
    margin-top: 2px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    right: 0;
    z-index: 10;
  }

  &__option {
        cursor: pointer;
        padding: 8px;
        transition: background 0.15s;

        &:hover {
          background: variables.$background-hover;
        }

        &--selected {
          background: variables.$select-option-selected-background;
          color: variables.$select-option-selected-color;
          font-weight: 500;
        }
    }
}