@use "gl-admin/assets/styles/variables";

.gl-tooltip-target {
    display: inline-block;
    height: inherit;
    position: relative;
    width: inherit;
}

.gl-tooltip {
    background: variables.$tooltip-background;
    border-radius: 4px;
    box-shadow: variables.$tooltip-box-shadow;
    color: variables.$tooltip-color;
    font-size: 13px;
    opacity: 0;
    padding: 6px 12px;
    pointer-events: none;
    position: absolute;
    transition: opacity 0.2s;
    white-space: nowrap;
    z-index: 9999;

    &.visible {
        opacity: 1;
    }
}