@use "@gl-admin/assets/styles/variables";

.user-profile-icon {
    align-items: center;
    background: variables.$user-profile-background;
    border-radius: variables.$user-profile-border-radius;
    box-shadow: variables.$user-profile-box-shadow;
    color: variables.$user-profile-color;
    display: flex;
    font-size: variables.$text-size-body;
    font-weight: 500;
    height: 2.4375rem;
    justify-content: center;
    line-height: 150%;
    transition: .2s;
    user-select: none;
    width: 2.4375rem;
}