@use "@gl-admin/assets/styles/variables";

.user-profile-icon {
    align-items: center;
    background: var(--user-profile-background);
    border-radius: var(--user-profile-border-radius);
    box-shadow: var(--user-profile-box-shadow);
    color: var(--user-profile-color);
    display: flex;
    font-size: var(--text-size-body);
    font-weight: 500;
    height: 2.4375rem;
    justify-content: center;
    line-height: 150%;
    transition: .2s;
    user-select: none;
    width: 2.4375rem;
}