@use "@gl-admin/assets/styles/variables";

.user-profile {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    height: 100%;
    padding: 1.31rem;
    position: relative;
    width: 100%;

    &.hovered, &.active {
        background: var(--sidebar-background-hover);
        cursor: pointer;
    }

    &__name {
        color: var(--text-secondary);
        font-size: var(--text-size-body);
        font-weight: 400;
        line-height: 145%;
    }

    &__icon {
        border-radius: .25rem;
        position: absolute;
        right: .5rem;
        top: 50%;
        transform: translateY(-50%);

        &:hover, &.hovered {
            background: var(--sidebar-background-hover);
            cursor: pointer;
        }
    }
}