@use "@gl-admin/assets/styles/variables";
@use "@gl-admin/assets/styles/mixins";

.gl-admin-media-card {
  border: 1.2px solid var(--border-color);
  border-radius: 4.703px;
  overflow: hidden;
  position: relative;

  &__type-badge {
    background-blend-mode: hard-light, normal;
    border-radius: 4.7px;
    box-shadow: var(--media-card-badge-box-shadow);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    left: 14px;
    line-height: 130%;
    padding: 4.7px 7px;
    position: absolute;
    top: 14px;

    &--image {
      background: var(--media-card-badge-image-background);
      color: var(--media-card-badge-image-color);
    }

    &--video {
      background: var(--media-card-badge-video-background);
      color: var(--media-card-badge-video-color);
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__thumbnail {
    height: 220px;

    &.skeleton {
      @include mixins.skeleton-bg;

      border-radius: 8px;
      height: 200px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 14px;
  }

  &__title {
    color: var(--text-primary);
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;

    &.skeleton {
      @include mixins.skeleton-bg;

      border-radius: 4px;
      height: 1.2em;
      margin-bottom: 0.5rem;
      width: 80%;
    }
  }

  &__meta {
    color: var(--text-quaternary);
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    gap: 14px;
    line-height: 145%;

    &.skeleton {
      @include mixins.skeleton-bg;

      border-radius: 4px;
      height: 1em;
      width: 60%;
    }
  }

  &-wrapper {
    position: relative;

    &--selectable {
      cursor: pointer;

      &:hover {
        box-shadow: var(--media-card-box-shadow-hover);
        transform: translateY(-2px);
      }
    }

    &--selected {
      .gl-admin-media-card {
        border: 1.2px solid var(--selected-border-color);
      }
    }
  }

  &__checkbox {
    position: absolute;
    right: -8px;
    top: -8px;
    z-index: 10;

    input[type="checkbox"] {
      accent-color: var(--selected-border-color);
      height: 20px;
      width: 20px;
    }
  }
}
