.profile-icon {
    width: 2.4375rem;
    height: 2.4375rem;
    border-radius: 100%;
    background-color: #0085FE8F;
    color: #0050FE;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    box-shadow: 0 0 5.5px 0 #0050fe71 inset;
    transition: .2s;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        border: 2px solid #0050FE;
        width: fit-content;
        height: fit-content;
        border-radius: 100%;
    }

    &.hovered {
        box-shadow: 0 0 12px 0 #0050fe71 inset;

        &__wrapper {
            border-color: darken(#0050FE, 10%);
        }
    }
}