.admin-sidebar {
    display: flex;
    flex-direction: column;
    background: #b4b3af05;
    box-shadow: 0 0 16px 0 #00000033;
    height: 100vh;
    user-select: none;
    padding-top: 1.31rem;
    position: relative;

    &__resize-handle {
      position: absolute;
      top: 0;
      right: 0;
      width: 0.25rem;
      height: 100%;
      cursor: ew-resize;
      z-index: 2;
      background: transparent;
      transition: background 0.2s;

      &:hover {
        background: white #0000000a;
      }
    }

    &__controller {
      position: absolute;
      top: 1.6rem;
      right: -1rem;
      padding: .5rem;
      border-radius: 100%;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      transition: background 0.2s;
      border: 1px solid #D2D2D2;
      pointer-events: none;
      transform: translateX(-.5rem);
      opacity: 0;
      transition: .2s;
      z-index: 99;

      &:hover {
        background: #e6e6e6;
      }
    }

    &:hover .admin-sidebar__controller {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }

    &__head {
      display: flex;
      margin-left: 1rem;
      gap: 0.75rem;
      align-items: center;
      flex-shrink: 0;
      text-decoration: none;
      margin-bottom: 1rem;
      width: 8rem;
      padding: .4rem;

      &:hover h1 {
        padding-left: .2rem;
      }

      h1 {
        color: #202222;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
    }

    &__nav {
      display: flex;
      overflow-y: auto;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      padding: 0 1rem;

      hr {
        width: 100%;
        height: 1px;
        border: none;
        background: #E6E6E6;
      }

      &_section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        width: 100%;
      }
    }

    &__bottom {
      margin-top: auto;
      border-top: 1px solid #E6E6E6;
    }

    &.closed {
      width: 4.25rem!important;

      .admin-sidebar__head {
        margin-left: .55rem;

        h1 {
          display: none;
        }
      }

      .admin-sidebar__resize-handle {
        display: none;
      }

      .admin-sidebar__nav {
          overflow: hidden;

          &_section .sidebar-item {
            padding: 0;
            width: fit-content;

            &__name {
              display: none;
            }
          }
      }

      .sidebar-user-profile {
        width: fit-content;

        & > .user-profile {
          padding: .8rem;
          padding-top: 3.8rem;

          & > .user-profile__name {
            display: none;
          }

          & .user-profile__icon {
            left: 50%;
            transform: translateX(-55%);
            top: unset;
            bottom: 2rem;
          }
        }
      }
    }
  }