@use "@gl-admin/assets/styles/variables";

.admin-sidebar {
    background: var(--sidebar-background);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: var(--top-white-space);
    position: relative;
    user-select: none;

    &__resize-handle {
      background: transparent;
      cursor: ew-resize;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transition: background var(--transition-duration);
      width: 0.25rem;
      z-index: 2;

      &:hover {
        background: var(--sidebar-resize-handle-background);
      }
    }

    &__controller {
      align-items: center;
      background: var(--sidebar-popup-background);
      border: 1px solid var(--border-color);
      border-radius: 100%;
      display: flex;
      height: 2rem;
      justify-content: center;
      opacity: 0;
      padding: .5rem;
      pointer-events: none;
      position: absolute;
      right: -1rem;
      top: 1.6rem;
      transform: translateX(-.5rem);
      transition: background 0.2s;
      transition: .2s;
      width: 2rem;
      z-index: 99;

      &:hover {
        background: var(--sidebar-background-hover);
      }
    }

    &:hover .admin-sidebar__controller {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }

    &__head {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      gap: 0.75rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
      padding: .4rem;
      text-decoration: none;
      width: 8rem;

      &:hover svg {
        filter: var(--logo-glow);
        transition: filter 0.2s;
      }

      h1 {
        color: var(--text-primary);
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }

      &:hover h1 {
        padding-left: .2rem;
      }
    }

    &__nav {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow-y: auto;
      padding: 0 1rem;

      hr {
        background: var(--border-color);
        border: none;
        height: 1px;
        width: 100%;
      }

      &_section {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
      }
    }

    &__bottom {
      border-top: 1px solid var(--border-color);
      margin-top: auto;
    }

    &.closed {
      width: 4.25rem!important;

      .admin-sidebar__head {
        margin-left: .55rem;

        h1 {
          display: none;
        }
      }

      .admin-sidebar__resize-handle {
        display: none;
      }

      .admin-sidebar__nav {
          overflow: hidden;

          &_section .sidebar-item {
            padding: 0;
            width: fit-content;

            &__name {
              display: none;
            }
          }
      }

      .sidebar-user-profile {
        width: fit-content;

        & > .user-profile {
          padding: .8rem;
          padding-top: 3.8rem;

          & > .user-profile__name {
            display: none;
          }

          & .user-profile__icon {
            bottom: 2rem;
            left: 50%;
            top: unset;
            transform: translateX(-55%);
          }
        }
      }
    }
  }