@use "@gl-admin/assets/styles/mixins";
@use "@gl-admin/assets/styles/variables";

.sidebar-item {
    align-items: center;
    border-radius: 0.25rem;
    color: variables.$text-secondary;
    cursor: pointer;
    display: flex;
    font-size: variables.$text-size-body;
    gap: 0.5rem;
    height: fit-content;
    padding: 0.25rem .5rem;
    text-decoration: none;
    width: 100%;

    &:hover {
        background: variables.$sidebar-background-hover;

        .sidebar-item__name {
            padding-left: .2rem;
        }
    }

    &.active {
        background: variables.$sidebar-background-hover;
        box-shadow: inset variables.$box-shadow;
        color: variables.$text-primary;
        font-weight: 600;
    }

    &.sub {
        padding-left: 3rem;

        span {
            align-items: center;
            display: flex;
            height: 32px;
        }
    }

    &__icon {
        border-radius: variables.$icon-border-radius;
        display: inline-flex;
    }

    &__skeleton {
        align-items: center;
        border-radius: variables.$border-radius;
        display: inline-flex;
        height: 2rem;
        justify-content: center;
        width: 100%;

        @include mixins.skeleton-bg;
    }
}