.gl-admin-media-type-badge {
  background-blend-mode: hard-light, normal;
  border-radius: 4.7px;
  box-shadow: var(--media-card-badge-box-shadow);
  display: inline-flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  max-width: fit-content;
  padding: 4.7px 7px;
  &--image {
    background: var(--media-card-badge-image-background);
    color: var(--media-card-badge-image-color);
  }

  &--video {
    background: var(--media-card-badge-video-background);
    color: var(--media-card-badge-video-color);
  }
}
